* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #ffffff;
    color: #333;
    text-align: center;
}


h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

nav {
    margin-top: 10px;
}

nav button {
    background-color: #3c290d;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

nav button:hover {
    background-color: #e68900;
}

.history-section {
    background: white;
    margin: 50px auto;
    padding: 40px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.history-section h2 {
    color: #444;
    margin-bottom: 15px;
}

blockquote {
    font-style: italic;
    font-size: 1.2rem;
    margin: 10px 0;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    margin-top: 40px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}

.hidden-header {
    transform: translateY(-100%);
}